<article{{ attributes }}>
  {{ title_prefix }}
  <h4{{ title_attributes }}>
    {{ upper_case('Ovveride') }}
    <a href="{{ url }}" rel="bookmark">{{ node.label | upper_case}}</a>
  </h4>
  {{ title_suffix }}
</article>
